; [http]
;   proxy = socks5://127.0.0.1:10808
[user]
	name = Nima Baghi
	email = nimaba1999@gmail.com
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	prettylog = log --pretty=format:'%Cred%H%Creset %C(yellow)%ad%Creset %s %Cgreen%an%Creset'
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[includeIf "gitdir:~/Workspace/work/"]
    path = ~/.work/.gitconfig
